.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Courier New, monospace;
}

.forms {
  display: flex;
  flex-direction: column;
  align-self: center;
  user-select: none;
}

.select {
  text-align: center;
  width: 40%;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  .post {
    width: 80vw;
  }
}

@media (max-width: 580px) {
  .forms {
    text-align: center;
    margin: 0 20px;
  }

  .select {
    align-self: center;
  }
}
